@import "bootstrap/bootstrap";
@import "pages/all";


// Settings //

ul, html, body, table {
	margin: 0px;
	padding: 0px;
}

li {
	display: inline-block;
	list-style: none;
}


// -------- //


html { 
	width: 100%;
	height: 100%;

	// background: url(../images/bg.jpg) no-repeat center center fixed; 
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
}

body {
	background-color: #F2F1EF;
	// background: url(http://www.unsigneddesign.com/Cardboard_and_cardstock_textures/card6.jpg) repeat;
	background: url(../images/cool_bg.jpg) repeat;
	// opacity: .7;
	// background: url(../images/bg.jpg) no-repeat center center fixed; 
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
}

.wrapper {
	margin: 0px;
	padding: 0px;
}

.content {
	background: $transparent-white;
	border-radius: 10px;
	padding: 40px;
}


// Sticky Footer !

* {
	margin: 0;
}

html, body {
	height: 100%;
}

main {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */

	border-top: 10px inset rgba(209, 207, 202, 0.35);
}

footer, .push {
	height: 150px; /* .push must be the same height as .footer */
	clear: both;
}

// -------- //