.contacts
	.container
		.row
			.col-md-12.col-sm-12.col-lg-12
				h1 Нашите собствени правила:
				.alt-text.
					По етапи:
					<br>
					За играта са нужни
					За една игра по Beer Pong са необходими: 
					<br>
					2 отбора от по 2ма човека (4 човека) 
					2 пинг понг топчета
					22 чаши 

				h1 Схема:
				.alt-text.
					За турнири по Beer Pong се използва схема за двойна елиминация: в зависимост от броя на отборите се избира съответната схема. (Ползват се схеми от http://printyourbrackets.com/ - Двойна елиминация - Blind draw) 
					<br>
					Турнир може да се проведе при наличието на повече от 5 отбора (10 човека). 
					<br>
					Поради използването на схема за двойна елиинация, даден отбор трябва да загуби 2 игри за да отпадне изцяло от турнир. 

				h1 Подредба за игра:
				.alt-text.
					Чашите се нареждат в триъгълник по 10 от 2те страни (съответно най-задния ред се състои от 4 чаши, следвате 3,2,1). Допълнително по 1 (или при желание 2) чаши се слагат в страни от триъгълника, пълни с вода, за изплакване на топчето преди стрелба. 

				h1 Цел:
				.alt-text.
					Целта на играта е единият отбор да елиминират всички противникови чаши чрез вкарване с топчетата, преди тяхните да бъдат елиминирани.
				
				h1 Начало:
				.alt-text.
					- 2та отбора застават в двата края на маста, като право на изобр на страна получава отборът, седящ на долната страна на мача (в схемата), а горният получава правото на да среля само с 1 топче.
					<br>
					- При определени турнири (предимно по-малки) може да се използва алтернативен метод - “Possesion Shot”за определяне на правото, кой отбор да стреля пръв с 2те топчета.
					„Possesion Shot”се изпълнява като по един играч от всеки отбор взима топче и застава зад масата. Гледайки право в очите на противника,2мата избрани играчи хвърлят топчето едновременно без да гледат чашите си. При 3 неуспешни изстрела и от 2мата,тяхните съотборници заемат местата им.
					
				h1 Правила по време на играта:
				ul.alt-text
					li.
						1. Преди хвърляне играчът трябва да изплакне топчето в чашата с вода.
					li.
						2. Ако топче попадне, в някоя от противниковите чаши, то тази чаша е елиминирана.
							<br>
						<div class="indent">
							2.1 Ако чаша бъде съборена от отбора, който я притежава, тя не се подменя! (Освен при изришното съгласие и от 2та отбора)
							<br>
							2.2 Елиминирана чрез легално вкарване чаша не се преналива по никакъв повод.
						</div>
					li.
						3. Начини за победа: 
						<div class="indent">
							<br>
							3.1 Чрез елиминиране на всички противникови чаши.
							<br>
							3.2 Чрез вкарване на 2те топчета в 1 и съща чаша в рамките на 1 ход на отбора.
						</div>

					li.
						4. При положение, че 2те топчета попаднат в 2 различни чаши на противниковия отбор в рамките на 1 ход, топчетата биват връщани на отбора, който ги е вкарал.

					li.
						5. Играчите имат право да хвърлят, както директно в чашите така и чрез тупкане на топчето (не зависимо къде).
						<div class="indent">
							<br>
							5.1 При директен изстрел и попадение противниковия отбор губи чашата, която е била уцелена.
							<br>
							5.2 При изстрел и попадение (Trick Shot), ако играчът може да повтори удара, то противниковя отбор губи уцелената чаша + допълнителна по тяхен избор (Губи 2 чаши).
							<br>
							5.2.1 При направен Trick Shot веднага след тупкането на топчето, противника има право да го отбие с ръка (Но не и да го задържа с ръка!).
						</div>
					li.
						6. Ако при изстрел, точето се завърти в гърлото на чашата, противниковия отбор има право да я извади, чрез издухване преди тя да докосне бирата. Ако успее, чашата не е елиминирана.
					li.
						7. Чашите се пренареждат, когато останат: 6,4,3,2,1 – съответно в:
						<br>Триъгълник (3,2,1); 
						<br>Ромб (1,2,1); 
						<br>Триъгълник (2,1); Редица (1,1); 
						<br>Последната чаша се центрира в най-заднят ред.
					li.
						8. Всякакъв тип разсейване на противника е позволено, при положение, че няма контакт с масата, чашите или топчетата и не се преминава полето, както и не се навлиза в пространството над самите чаши.

					li.
						9. Пиенето на бирата по време на турнир не е задължително и е забранено за лица под 18 години.