h1 {
	font-size: 1.76471em;
	line-height: 1.66667em;
	margin-top: 1.66667em;
	border-bottom-style: solid;
	border-bottom-width: 0.2em;
	padding-bottom: 0.63333em;
	margin-bottom: 0.83333em;
	border-color: #d1cfca;
	padding: 0 25px;

	color: $black;
}

section {
	padding: 25px;
	color: $font-color;
	line-height: 20px;
	background: rgba(209,207,202,0.35);
	box-shadow: 0 0 0 10px rgba(209,207,202,0);
}