// Variables //

$dark-element-bg: #000;
$main-font-style: 24px Impact, Charcoal, sans-serif;

$main-font: Impact, Charcoal, sans-serif;

$main-yellow: #FBAB11;
$main-blue: #0092F8;
$font-color: #949391;

$white: #fff;
$transparent-white: rgba(255, 255, 255, .9);
$more-transparent-white: rgba(255,255,255, .3);
$black: #000;

$element-space: 30px;
// --------- //