<div class="container"><div class="row"><div class="col-md-12 col-sm-12 col-lg-12"><div class="row"><section><span>Това е официалната страница на Beer Pong Basis. Oрганизацията се занимава с организирането на 
локални игри и турнири по Beer Pong в България. Всеки месец ние организираме турнири. 
Локални игри се организират почти всеки ден, в гр. Пазарджик. 
Всеки, които има желание да участва, може да намери необходимата актуална информация на 
нашият сайт: Bpong.eu или на нашата Facebook страница: Facebook.com/bpong.eu 
Beer Pong е игра с над 60 годиншна история ! Играта се е зародила в американските университети, 
може би от някой студент, чудещ се как да пие по по-интересен начин, но играта се е разрастнала в спорт, 
разпространен из цял свят. На кратко играта изисква 22 чаши (20 с бира и 2 с вода) и 4 човека (по 2ма в 2 отбора). 
Всяка организация по BeerPong в света има свои разновидности на правилата, нашите правила можете, да намерите в сайта ни.
</span><h1>Нашите собствени правила:</h1><section class="alt-text">По етапи:
<br>
За играта са нужни
За една игра по Beer Pong са необходими: 
<br>
2 отбора от по 2ма човека (4 човека) 
2 пинг понг топчета
22 чаши 
</section><h1>Схема:</h1><section class="alt-text">За турнири по Beer Pong се използва схема за двойна елиминация: в зависимост от броя на отборите се избира съответната схема. (Ползват се схеми от http://printyourbrackets.com/ - Двойна елиминация - Blind draw) 
<br>
Турнир може да се проведе при наличието на повече от 5 отбора (10 човека). 
<br>
Поради използването на схема за двойна елиинация, даден отбор трябва да загуби 2 игри за да отпадне изцяло от турнир. 



</section></section></div></div></div></div>