.container
	header
		.col-md-12.col-sm-12.col-lg-12
			ul
				li
					a(ui-sref="home" alt="Началото") Началo
				li
					a(ui-sref="rules" alt="Как се играе ?") Правила
				li
					a(ui-sref="schedule" alt="Програма") Турнири
				li
					a(ui-sref="gallery" alt="Снимки") Галерия
				li
					a(ui-sref="charms" alt="Интересно :)") Талисмани
				li
					a(ui-sref="contacts" alt="Свържете се с нас") Контакти
				li
					a(ui-sref="menager" alt="Нашият софтуер за турнири") Организатор